<section class="card mt-4">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur temporibus voluptatibus, ullam delectus beatae corporis. Amet, vel pariatur. Doloribus, veritatis.</p>
    </div>
</section>